// Debug.xcconfig
#include "../Pods/Target Support Files/Pods-Soapbox/Pods-Soapbox.debug.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = app.social.soapbox-test

// Server URL
ROOT_URL = http:/$()/192.168.2.111:8080

// Rooms
ROOM_API_URL = http:/$()/192.168.2.111:8082

// CDN URL
CDN_URL = http:/$()/192.168.2.111:8080/cdn
