// Release.xcconfig
#include "../Pods/Target Support Files/Pods-Soapbox/Pods-Soapbox.release.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = app.social.soapbox

// Server URL
ROOT_URL = https:/$()/api.soapbox.social

// Room Service URL
ROOM_API_URL = https:/$()/rooms.soapbox.social

// CDN URL
CDN_URL = https:/$()/cdn.soapbox.social
