// Release.xcconfig
#include "../Pods/Target Support Files/Pods-Soapbox/Pods-Soapbox.release.xcconfig"

// Server URL
ROOT_URL = https:/$()/api.soapbox.social

// Room Service URL
ROOM_SERVICE_URL = https:/$()/api.soapbox.social
ROOM_SERVICE_PORT = 50051

// CDN URL
CDN_URL = https:/$()/cdn.soapbox.social
